<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>

    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left-1">
                    <div class="left_1-1">
                        <img 
                            src="images/profile.png"
                            width="156px"
                            height="142px"
                            alt=""
                        >
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1" />
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1" />
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1" />
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1" />
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1" />
                            </div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon-1" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-2">
                    <div class="about">
                        <p class="about_icon">Age:</p>
                        <p><%=user.age%></p>
                    </div>
                    <div class="about">
                        <p class="about_icon">Residence:</p>
                        <p><%=user.residence%></p>
                    </div>
                    <div class="about">
                        <p class="about_icon">Freelance:</p>
                        <p class="green_btn">Available</p>
                    </div>
                    <div class="about">
                        <p class="about_icon">Address:</p>
                        <p><%=user.address%></p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-3">
                    <div class="languages">
                        <h4 class="languages_icon">Languages:</h4>
                        <div class="lan-1">
                            <p>Uzbek</p>
                            <p class="per">100%</p>
                        </div>
                        <div class="lan-1">
                            <p>Korean</p>
                            <p class="per">50%</p>
                        </div>
                        <div class="lan-1">
                            <p>English</p>
                            <p class="per">70%</p>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-4">
                    <div class="skills">
                        <h4 class="skills_icon">Skills:</h4>
                        <div class="skill-1">
                            <p>Html</p>
                            <p class="per">100%</p>
                        </div>
                        <div class="skill-1">
                            <p>CSS</p>
                            <p class="per">50%</p>
                        </div>
                        <div class="skill-1">
                            <p>Js</p>
                            <p class="per">80%</p>
                        </div>
                        <div class="skill-1">
                            <p>NodeJS</p>
                            <p class="per">70%</p>
                        </div>
                        <div class="skill-1">
                            <p>Python</p>
                            <p class="per">90%</p>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-5">
                    <div class="ex_skills">
                        <h4 class="ex_skills_icon">Extra Skills:</h4>
                        <% user.extra_skills.slice(0, 3).forEach(skill => { %>
                            <div class="ex_skill-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                                    <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                                </svg>
                                <p><%= skill %></p>
                            </div>
                        <% }) %>
                    </div>
                </div>
                
                <div class="marginer">

                </div>
            </div>
            <div class="midd_frame">
                <div class="midd-1">
                    <div class="content">
                        <div class="heading">
                            <h1><%=user.work_place%></h1>
                        </div>
                        <div class="desc">
                            <p><%=user.service_desc%></p>
                        </div>
                        <div class="btn-main">
                            <button type="button" class="btn-1">Hire Me →</button>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="images/logo.png" alt="Doctor Image">
                    </div>
                </div>
                
                <div class="midd-2">
                    <h2 class="services-title">My Services</h2>
                    <p class="services-description">
                        <%=user.service_desc%>
                    </p>

                    <div class="services-container">
                        <div class="service-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 68 68" fill="none">
                                <path d="M63.2188 7.4375H4.78125C3.79531 7.43859 2.85007 7.83074 2.1529 8.5279C1.45574 9.22507 1.06359 10.1703 1.0625 11.1562V48.3438C1.06359 49.3297 1.45574 50.2749 2.1529 50.9721C2.85007 51.6693 3.79531 52.0614 4.78125 52.0625H26.0552L24.7802 55.25H19.125C18.8432 55.25 18.573 55.3619 18.3737 55.5612C18.1744 55.7605 18.0625 56.0307 18.0625 56.3125V58.4375H11.6875C11.4057 58.4375 11.1355 58.5494 10.9362 58.7487C10.7369 58.948 10.625 59.2182 10.625 59.5C10.625 59.7818 10.7369 60.052 10.9362 60.2513C11.1355 60.4506 11.4057 60.5625 11.6875 60.5625H56.3125C56.5943 60.5625 56.8645 60.4506 57.0638 60.2513C57.2631 60.052 57.375 59.7818 57.375 59.5C57.375 59.2182 57.2631 58.948 57.0638 58.7487C56.8645 58.5494 56.5943 58.4375 56.3125 58.4375H49.9375V56.3125C49.9375 56.0307 49.8256 55.7605 49.6263 55.5612C49.427 55.3619 49.1568 55.25 48.875 55.25H43.2198L41.9448 52.0625H63.2188C64.2047 52.0614 65.1499 51.6693 65.8471 50.9721C66.5443 50.2749 66.9364 49.3297 66.9375 48.3438V11.1562C66.9364 10.1703 66.5443 9.22507 65.8471 8.5279C65.1499 7.83074 64.2047 7.43859 63.2188 7.4375ZM47.8125 57.375V58.4375H20.1875V57.375H47.8125ZM27.0698 55.25L28.3448 52.0625H39.6552L40.9302 55.25H27.0698ZM64.8125 48.3438C64.8121 48.7663 64.6441 49.1715 64.3453 49.4703C64.0465 49.7691 63.6413 49.9371 63.2188 49.9375H4.78125C4.35867 49.9371 3.9535 49.7691 3.65469 49.4703C3.35588 49.1715 3.18785 48.7663 3.1875 48.3438V45.6875H64.8125V48.3438ZM64.8125 43.5625H3.1875V11.1562C3.18785 10.7337 3.35588 10.3285 3.65469 10.0297C3.9535 9.73088 4.35867 9.56285 4.78125 9.5625H63.2188C63.6413 9.56285 64.0465 9.73088 64.3453 10.0297C64.6441 10.3285 64.8121 10.7337 64.8125 11.1562V43.5625Z" fill="#FFB400"/>
                                <path d="M29.1671 34.888C29.2838 34.9646 29.4144 35.0174 29.5514 35.0435C29.6885 35.0696 29.8294 35.0684 29.966 35.04C30.1026 35.0117 30.2323 34.9567 30.3477 34.8782C30.4631 34.7997 30.5618 34.6992 30.6384 34.5826L39.0056 21.8326C39.1602 21.597 39.2149 21.3096 39.1577 21.0337C39.1005 20.7578 38.936 20.5159 38.7004 20.3613C38.4648 20.2066 38.1774 20.1519 37.9015 20.2092C37.6256 20.2664 37.3837 20.4309 37.2291 20.6665L28.8619 33.4165C28.7853 33.5331 28.7324 33.6637 28.7063 33.8008C28.6802 33.9379 28.6813 34.0788 28.7096 34.2155C28.738 34.3521 28.793 34.4819 28.8715 34.5973C28.9499 34.7127 29.0504 34.8115 29.1671 34.888Z" fill="#FFB400"/>
                                <path d="M40.7573 34.8165C40.9738 34.9969 41.2531 35.0839 41.5337 35.0583C41.8143 35.0328 42.0733 34.8968 42.2537 34.6804L47.5662 28.3054C47.7253 28.1144 47.8124 27.8738 47.8124 27.6252C47.8124 27.3767 47.7253 27.136 47.5662 26.9451L42.2537 20.5701C42.1647 20.462 42.0551 20.3726 41.9314 20.307C41.8077 20.2413 41.6723 20.2008 41.5328 20.1878C41.3934 20.1747 41.2528 20.1893 41.119 20.2307C40.9853 20.2722 40.861 20.3397 40.7534 20.4293C40.6459 20.519 40.5571 20.629 40.4921 20.7531C40.4272 20.8772 40.3875 21.0128 40.3752 21.1523C40.3629 21.2918 40.3783 21.4324 40.4205 21.5659C40.4627 21.6994 40.5309 21.8233 40.6212 21.9304L45.3668 27.6252L40.6212 33.3201C40.4408 33.5366 40.3538 33.8159 40.3793 34.0965C40.4049 34.3771 40.5408 34.6361 40.7573 34.8165Z" fill="#FFB400"/>
                                <path d="M25.7462 34.6804C25.8352 34.7884 25.9448 34.8779 26.0685 34.9435C26.1922 35.0091 26.3276 35.0496 26.4671 35.0627C26.6065 35.0758 26.7471 35.0612 26.8809 35.0197C27.0146 34.9782 27.1389 34.9107 27.2465 34.8211C27.354 34.7315 27.4428 34.6214 27.5078 34.4974C27.5727 34.3733 27.6124 34.2376 27.6247 34.0981C27.637 33.9586 27.6216 33.8181 27.5794 33.6845C27.5372 33.551 27.469 33.4272 27.3787 33.3201L22.6331 27.6252L27.3787 21.9304C27.469 21.8233 27.5372 21.6994 27.5794 21.5659C27.6216 21.4324 27.637 21.2918 27.6247 21.1523C27.6124 21.0128 27.5727 20.8772 27.5078 20.7531C27.4428 20.629 27.354 20.519 27.2465 20.4293C27.1389 20.3397 27.0146 20.2722 26.8809 20.2307C26.7471 20.1893 26.6065 20.1747 26.4671 20.1878C26.3276 20.2008 26.1922 20.2413 26.0685 20.307C25.9448 20.3726 25.8352 20.462 25.7462 20.5701L20.4337 26.9451C20.2746 27.136 20.1875 27.3767 20.1875 27.6252C20.1875 27.8737 20.2746 28.1144 20.4337 28.3054L25.7462 34.6804Z" fill="#FFB400"/>
                            </svg>
                            <h3><%=user.title[0]%></h3>
                            <p><%=user.flower_desc[0]%></p>
                        </div>
                        <div class="service-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewBox="0 0 76 76" fill="none">
                                <g clip-path="url(#clip0_2_6449)">
                                <path d="M35.3281 55.1431C34.7131 55.1431 34.2148 55.6415 34.2148 56.2563C34.2148 56.8712 34.7131 57.3696 35.3281 57.3696H40.6719C41.2869 57.3696 41.7852 56.8712 41.7852 56.2563C41.7852 55.6415 41.2869 55.1431 40.6719 55.1431H35.3281Z" fill="#FFB400"/>
                                <path d="M13.3594 37.8564H20.7183C21.1678 39.0263 22.3002 39.8604 23.6264 39.8604C24.9525 39.8604 26.0849 39.0263 26.5344 37.8564H28.0053C28.6202 37.8564 29.1185 37.358 29.1185 36.7432C29.1185 36.1283 28.6202 35.6299 28.0053 35.6299H26.5344C26.0849 34.46 24.9525 33.626 23.6264 33.626C22.3002 33.626 21.1678 34.46 20.7183 35.6299H13.3594C12.7444 35.6299 12.2461 36.1283 12.2461 36.7432C12.2461 37.358 12.7444 37.8564 13.3594 37.8564ZM23.6264 35.8525C24.1175 35.8525 24.517 36.252 24.517 36.7432C24.517 37.2343 24.1175 37.6338 23.6264 37.6338C23.1352 37.6338 22.7357 37.2343 22.7357 36.7432C22.7357 36.252 23.1352 35.8525 23.6264 35.8525Z" fill="#FFB400"/>
                                <path d="M13.3594 31.4736H14.7808C15.2303 32.6435 16.3627 33.4775 17.6889 33.4775C19.015 33.4775 20.1474 32.6435 20.5969 31.4736H28.0053C28.6202 31.4736 29.1185 30.9752 29.1185 30.3604C29.1185 29.7455 28.6202 29.2471 28.0053 29.2471H20.5969C20.1474 28.0772 19.015 27.2432 17.6889 27.2432C16.3627 27.2432 15.2303 28.0772 14.7808 29.2471H13.3594C12.7444 29.2471 12.2461 29.7455 12.2461 30.3604C12.2461 30.9752 12.7444 31.4736 13.3594 31.4736ZM17.6889 29.4697C18.18 29.4697 18.5795 29.8692 18.5795 30.3604C18.5795 30.8515 18.18 31.251 17.6889 31.251C17.1977 31.251 16.7982 30.8515 16.7982 30.3604C16.7982 29.8692 17.1977 29.4697 17.6889 29.4697Z" fill="#FFB400"/>
                                <path d="M28.228 21.2314C28.8429 21.2314 29.3413 20.733 29.3413 20.1182C29.3413 19.5033 28.8429 19.0049 28.228 19.0049C27.6132 19.0049 27.1147 19.5033 27.1147 20.1182C27.1147 20.733 27.6132 21.2314 28.228 21.2314Z" fill="#FFB400"/>
                                <path d="M25.1602 21.2314C25.775 21.2314 26.2734 20.733 26.2734 20.1182C26.2734 19.5033 25.775 19.0049 25.1602 19.0049C24.5453 19.0049 24.0469 19.5033 24.0469 20.1182C24.0469 20.733 24.5453 21.2314 25.1602 21.2314Z" fill="#FFB400"/>
                                <path d="M22.0923 21.2314C22.7071 21.2314 23.2056 20.733 23.2056 20.1182C23.2056 19.5033 22.7071 19.0049 22.0923 19.0049C21.4774 19.0049 20.979 19.5033 20.979 20.1182C20.979 20.733 21.4774 21.2314 22.0923 21.2314Z" fill="#FFB400"/>
                                <path d="M72.6602 7.49354H72.2432L72.5542 7.18256C73.4856 6.25112 73.4856 4.73542 72.5542 3.80398L70.1171 1.36693C69.1857 0.435633 67.6701 0.435633 66.7385 1.36693L60.6124 7.49339H3.33984C1.49833 7.49339 0 8.99157 0 10.8332V57.0662C0 59.3171 1.83113 61.1482 4.08203 61.1482H30.4512V69.0236H25.0859C23.6537 69.0236 22.4883 70.1889 22.4883 71.6212V72.7336C22.4883 74.1659 23.6537 75.3313 25.0859 75.3313H50.9141C52.3463 75.3313 53.5117 74.1659 53.5117 72.7336V71.6212C53.5117 70.1889 52.3463 69.0236 50.9141 69.0236H45.5488V61.1482H57.4453C58.0603 61.1482 58.5586 60.6497 58.5586 60.0349C58.5586 59.4201 58.0603 58.9216 57.4453 58.9216H4.08203C3.05885 58.9216 2.22656 58.0894 2.22656 57.0662V53.7709H73.7734V57.0662C73.7734 58.0894 72.9411 58.9216 71.918 58.9216H62.6406C62.0257 58.9216 61.5273 59.4201 61.5273 60.0349C61.5273 60.6497 62.0257 61.1482 62.6406 61.1482H71.918C74.1689 61.1482 76 59.3171 76 57.0662V10.8334C76 8.99187 74.5017 7.49354 72.6602 7.49354ZM50.9141 71.2503C51.1188 71.2503 51.2852 71.4168 51.2852 71.6214V72.7337C51.2852 72.9383 51.1188 73.1048 50.9141 73.1048H25.0859C24.8812 73.1048 24.7148 72.9383 24.7148 72.7337V71.6214C24.7148 71.4168 24.8812 71.2503 25.0859 71.2503H50.9141ZM32.6778 61.1485H43.3224V69.0238H32.6778V61.1485ZM68.313 2.94155C68.3765 2.87817 68.4796 2.87832 68.5428 2.94155L70.9797 5.37845C71.0431 5.44184 71.0431 5.545 70.9797 5.60823L68.6544 7.93351L65.9877 5.26683L68.313 2.94155ZM64.4133 6.84131L67.0798 9.50799L66.3033 10.2845L63.6368 7.61778L64.4133 6.84131ZM62.0623 9.19226L64.729 11.8589L51.555 25.0329L48.8883 22.3662L62.0623 9.19226ZM60.4141 19.3705C61.9283 19.3705 63.1602 20.6024 63.1602 22.1166C63.1602 23.6308 61.9283 24.8627 60.4141 24.8627C58.8999 24.8627 57.668 23.6308 57.668 22.1166C57.668 22.0989 57.6703 22.0818 57.6706 22.0642L60.3621 19.3731C60.3795 19.3728 60.3965 19.3705 60.4141 19.3705ZM49.6218 26.2486L46.3269 27.5944L47.6726 24.2995L49.6218 26.2486ZM73.7734 51.5446H2.22656V10.8334C2.22656 10.2196 2.72591 9.7201 3.33984 9.7201H58.386L56.6884 11.4176H18.8516C18.2366 11.4176 17.7383 11.9161 17.7383 12.5309C17.7383 13.1457 18.2366 13.6442 18.8516 13.6442H54.462L46.6095 21.4971C46.3876 21.721 46.2141 21.9822 46.0946 22.2747L43.6078 28.363C43.3797 28.9221 43.5082 29.5594 43.9353 29.9863C44.2219 30.2729 44.6031 30.4249 44.9919 30.4249C45.1824 30.4249 45.3747 30.3884 45.5586 30.3134L51.6468 27.8268C51.9309 27.7107 52.185 27.5427 52.4047 27.3297L55.7914 23.9434C56.521 25.7839 58.3171 27.0894 60.4142 27.0894C63.1562 27.0894 65.3869 24.8586 65.3869 22.1167C65.3869 20.0199 64.0817 18.2239 62.2415 17.4942L66.0918 13.6443H69.8493V47.6206H69.2593L65.2248 40.6327C64.9175 40.1001 64.2362 39.9176 63.704 40.2252C63.1716 40.5326 62.9892 41.2135 63.2966 41.7459L66.6884 47.6206H51.1366L49.4686 44.7316L57.2445 31.2634L60.6988 37.2467C61.0063 37.7791 61.6872 37.9617 62.2195 37.6541C62.752 37.3467 62.9344 36.6658 62.627 36.1334L58.9417 29.7504C58.5874 29.1368 57.953 28.7704 57.2443 28.7704C56.5357 28.7704 55.9011 29.1368 55.5468 29.7504L48.1828 42.5052L38.7342 26.1398C38.3799 25.5262 37.7454 25.1598 37.0366 25.1598C36.3281 25.1598 35.6936 25.5262 35.3393 26.1398L32.829 30.4877V18.5544C32.829 17.1221 31.6636 15.9567 30.2314 15.9567H11.1328C9.70054 15.9567 8.53516 17.1221 8.53516 18.5544V42.8981C8.53516 43.9213 9.36744 44.7536 10.3906 44.7536H24.593L22.9376 47.6208H6.1508V13.6442H13.6562C14.2712 13.6442 14.7695 13.1457 14.7695 12.5309C14.7695 11.9161 14.2712 11.4176 13.6562 11.4176H5.77971C4.75653 11.4176 3.92424 12.2499 3.92424 13.2731V47.9916C3.92424 49.0148 4.75653 49.8471 5.77971 49.8471H70.2204C71.2436 49.8471 72.0759 49.0148 72.0759 47.9916V13.2731C72.0759 12.2499 71.2436 11.4176 70.2204 11.4176H68.3187L70.0165 9.7201H72.6602C73.2741 9.7201 73.7734 10.2196 73.7734 10.8334V51.5446ZM30.6029 24.7199V42.5267H10.7617V24.7199H30.6029ZM10.7617 22.4933V18.5541C10.7617 18.3495 10.9281 18.183 11.1328 18.183H30.2318C30.4365 18.183 30.6029 18.3495 30.6029 18.5541V22.4933H10.7617ZM27.1641 44.7533H30.974C31.9972 44.7533 32.8295 43.921 32.8295 42.8978V40.5396C33.1079 40.6732 33.418 40.7455 33.7428 40.7455C34.5028 40.7455 35.1833 40.3524 35.5631 39.6944L37.4578 36.4129C37.5151 36.3137 37.6026 36.2928 37.6657 36.2928C37.7291 36.2928 37.8167 36.3137 37.8738 36.4129L39.0419 38.4359C39.4219 39.0943 40.1025 39.4872 40.8626 39.4872C41.6226 39.4872 42.3032 39.0942 42.6831 38.4361L42.9731 37.9338L48.5656 47.6203H25.5087L27.1641 44.7533ZM32.8295 36.8129V34.9405L37.0372 27.6527L41.6875 35.7072L40.8625 37.1361L39.802 35.2994C39.3561 34.5271 38.5575 34.0661 37.6656 34.0661C36.7738 34.0661 35.9752 34.5271 35.5293 35.2994L33.7424 38.3944L32.8295 36.8129Z" fill="#FFB400"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2_6449">
                                    <rect width="76" height="76" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <h3><%=user.title[1]%></h3>
                            <p><%=user.flower_desc[1]%></p>
                        </div>
                        <div class="service-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74" fill="none">
                                <g clip-path="url(#clip0_2_6360)">
                                <path d="M37.0002 0C29.0179 0 22.522 6.7533 22.522 15.0526V37C22.522 45.3009 29.0179 52.0526 37.0002 52.0526C44.9826 52.0526 51.4785 45.3009 51.4785 37V15.0526C51.4785 6.7533 44.9826 0 37.0002 0ZM37.0002 48.8352C31.3119 48.8352 26.6065 44.3743 25.8552 38.6087H48.1437C47.394 44.3759 42.6886 48.8352 37.0002 48.8352ZM48.2611 35.3913H25.7394V15.0526C25.7394 8.52609 30.7907 3.21739 37.0002 3.21739C43.2098 3.21739 48.2611 8.52609 48.2611 15.0526V35.3913Z" fill="#FFB400"/>
                                <path d="M59.5218 28.9565C58.6338 28.9565 57.9131 29.6772 57.9131 30.5652V37C57.9131 48.5312 48.5312 57.9131 37.0001 57.9131C25.4689 57.9131 16.087 48.5312 16.087 37V30.5652C16.087 29.6772 15.3663 28.9565 14.4783 28.9565C13.5903 28.9565 12.8696 29.6772 12.8696 30.5652V37C12.8696 49.7618 22.8355 60.2151 35.3914 61.0484V70.7826H27.3479C26.4599 70.7826 25.7392 71.5033 25.7392 72.3913C25.7392 73.2793 26.4599 74 27.3479 74H46.6522C47.5402 74 48.2609 73.2793 48.2609 72.3913C48.2609 71.5033 47.5402 70.7826 46.6522 70.7826H38.6088V61.0484C51.1646 60.2151 61.1305 49.7618 61.1305 37V30.5652C61.1305 29.6772 60.4098 28.9565 59.5218 28.9565Z" fill="#FFB400"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2_6360">
                                    <rect width="74" height="74" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <h3><%=user.title[2]%></h3>
                            <p><%=user.flower_desc[2]%></p>
                        </div>
                        <div class="service-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74" fill="none">
                                <path d="M32.375 38.1562H41.625V40.4688H32.375V38.1562Z" fill="#FFB400"/>
                                <path d="M35.8438 34.6875H38.1562V43.9375H35.8438V34.6875Z" fill="#FFB400"/>
                                <path d="M65.9062 38.1562H68.2188V40.4688H65.9062V38.1562Z" fill="#FFB400"/>
                                <path d="M56.6562 38.1562H58.9688V40.4688H56.6562V38.1562Z" fill="#FFB400"/>
                                <path d="M61.2812 33.5312H63.5938V35.8438H61.2812V33.5312Z" fill="#FFB400"/>
                                <path d="M61.2812 42.7812H63.5938V45.0938H61.2812V42.7812Z" fill="#FFB400"/>
                                <path d="M10.6597 20.3789L5.45654 13.875L10.6597 7.37109L12.4652 8.81641L8.4183 13.875L12.4652 18.9336L10.6597 20.3789Z" fill="#FFB400"/>
                                <path d="M28.6527 20.3789L26.8472 18.9336L30.8952 13.875L26.8472 8.81641L28.6527 7.37109L33.8547 13.875L28.6527 20.3789Z" fill="#FFB400"/>
                                <path d="M14.7378 17.7375L22.8338 8.48975L24.5738 10.0124L16.4778 19.2607L14.7378 17.7375Z" fill="#FFB400"/>
                                <path d="M9.25 50.875H4.625V46.25H6.9375V48.5625H9.25V50.875Z" fill="#FFB400"/>
                                <path d="M70.5312 2.3125H3.46875C1.55315 2.3125 0 3.86565 0 5.78125V52.0312C0 53.9469 1.55315 55.5 3.46875 55.5H27.75V61.2812C27.75 63.1969 26.1969 64.75 24.2812 64.75H18.5V71.6875H55.5V64.75H49.7188C47.8031 64.75 46.25 63.1969 46.25 61.2812V55.5H70.5312C72.4469 55.5 74 53.9469 74 52.0312V5.78125C74 3.86565 72.4469 2.3125 70.5312 2.3125ZM53.1875 67.0625V69.375H20.8125V67.0625H53.1875ZM37 62.4861C38.9156 62.4861 40.4688 60.9329 40.4688 59.0173V55.5H43.9375V61.2812C43.942 62.5363 44.3587 63.7552 45.1237 64.75H28.8763C29.6413 63.7552 30.058 62.5363 30.0625 61.2812V55.5H33.5312V59.0173C33.5312 60.9329 35.0844 62.4861 37 62.4861ZM35.8438 59.0173V55.5H38.1562V59.0173C38.1562 59.6558 37.6385 60.1736 37 60.1736C36.3615 60.1736 35.8438 59.6558 35.8438 59.0173ZM71.6875 52.0312C71.6875 52.6698 71.1698 53.1875 70.5312 53.1875H3.46875C2.83022 53.1875 2.3125 52.6698 2.3125 52.0312V41.625H25.669C26.6265 46.3319 30.3956 49.9553 35.1369 50.726C39.8776 51.4972 44.6009 49.2547 47.0003 45.0938H52.4349C54.3725 48.4626 57.8774 50.6288 61.7572 50.8558C65.6369 51.0828 69.3699 49.3399 71.6875 46.2201V52.0312ZM62.4375 48.5625C58.923 48.571 55.7112 46.5758 54.1608 43.422L53.8407 42.7812H45.5968L45.2767 43.422C43.2487 47.5107 38.5419 49.5099 34.1918 48.1295C29.8412 46.7485 27.1482 42.4019 27.8494 37.8915C28.55 33.3816 32.436 30.0574 37 30.0625H62.4375C67.5463 30.0625 71.6875 34.2037 71.6875 39.3125C71.6875 44.4213 67.5463 48.5625 62.4375 48.5625ZM71.6875 32.4049C69.5128 29.4793 66.083 27.7534 62.4375 27.75H37C30.6169 27.7568 25.4443 32.9294 25.4375 39.3125H2.3125V5.78125C2.3125 5.14272 2.83022 4.625 3.46875 4.625H70.5312C71.1698 4.625 71.6875 5.14272 71.6875 5.78125V32.4049Z" fill="#FFB400"/>
                                <path d="M47.4062 38.1562H52.0312V40.4688H47.4062V38.1562Z" fill="#FFB400"/>
                                <path d="M34.6875 9.25H43.9375V11.5625H34.6875V9.25Z" fill="#FFB400"/>
                                <path d="M48.5625 9.25H67.0625V11.5625H48.5625V9.25Z" fill="#FFB400"/>
                                <path d="M50.875 13.875H67.0625V16.1875H50.875V13.875Z" fill="#FFB400"/>
                                <path d="M37 13.875H46.25V16.1875H37V13.875Z" fill="#FFB400"/>
                                <path d="M34.6875 18.5H57.8125V20.8125H34.6875V18.5Z" fill="#FFB400"/>
                                <path d="M62.4375 18.5H67.0625V20.8125H62.4375V18.5Z" fill="#FFB400"/>
                                <path d="M6.9375 23.125H18.5V25.4375H6.9375V23.125Z" fill="#FFB400"/>
                                <path d="M23.125 23.125H45.0938V25.4375H23.125V23.125Z" fill="#FFB400"/>
                                <path d="M48.5625 23.125H67.0625V25.4375H48.5625V23.125Z" fill="#FFB400"/>
                                <path d="M6.9375 27.75H25.4375V30.0625H6.9375V27.75Z" fill="#FFB400"/>
                                <path d="M6.9375 32.375H16.1875V34.6875H6.9375V32.375Z" fill="#FFB400"/>
                                <path d="M18.5 32.375H23.125V34.6875H18.5V32.375Z" fill="#FFB400"/>
                            </svg>
                            <h3><%=user.title[3]%></h3>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="service-box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" viewBox="0 0 78 78" fill="none">
                                <path d="M55.3546 72.9677H74.7125L69.7431 58.0584C68.4435 54.1597 65.1273 51.2686 61.0876 50.5113L47.8062 48.0203V44.9469C50.9879 42.6509 53.2335 39.1535 53.8852 35.1201C56.8543 34.6182 59.1288 32.0454 59.1288 28.9355V20.129C59.1288 9.03039 50.0984 0 38.9998 0C27.9011 0 18.8708 9.03039 18.8708 20.129V28.9355C18.8708 32.0416 21.134 34.6295 24.098 35.1365C24.7522 39.1698 27.0104 42.671 30.1933 44.9657V48.0216L16.9107 50.5126C12.8723 51.2699 9.55479 54.1609 8.25521 58.0597L3.28711 72.9677H22.645V70.4516H19.2243L21.3491 61.9496L18.9085 61.3407L16.6301 70.4516H6.77698L10.643 58.8548C11.6532 55.8228 14.2335 53.5734 17.3749 52.9834L25.3888 51.4813L27.4382 60.7004C26.0996 61.2816 25.1611 62.6126 25.1611 64.1613V74.2258C25.1611 76.3066 26.8544 78 28.9353 78H49.0643C51.1452 78 52.8385 76.3066 52.8385 74.2258V64.1613C52.8385 62.6126 51.9 61.2816 50.5627 60.7004L52.6121 51.4813L60.6259 52.9834C63.7673 53.5734 66.3463 55.8228 67.3578 58.8548L71.2226 70.4516H61.3694L59.0911 61.3407L56.6504 61.9496L58.7753 70.4516H55.3546V72.9677ZM50.1374 51.017L48.4001 58.8346L47.5307 55.3548H42.0368L46.9684 50.4232L50.1374 51.017ZM46.1947 60.3871H31.8049L32.434 57.871H45.5656L46.1947 60.3871ZM38.9998 54.834L32.7095 48.5437V46.4226C34.6268 47.3057 36.7542 47.8064 38.9998 47.8064C41.2467 47.8064 43.3728 47.2995 45.2901 46.4163V48.5437L38.9998 54.834ZM54.0966 32.4782V25.394C55.5572 25.9149 56.6127 27.2987 56.6127 28.9367C56.6127 30.5747 55.5572 31.9574 54.0966 32.4782ZM23.903 32.4945C22.4386 31.975 21.3869 30.576 21.3869 28.9355C21.3869 27.295 22.4386 25.896 23.903 25.3764V32.4945ZM21.3869 23.9359V20.129C21.3869 10.4168 29.2875 2.51613 38.9998 2.51613C48.7121 2.51613 56.6127 10.4168 56.6127 20.129V23.9359C55.8679 23.3723 55.0074 22.9559 54.0563 22.7685C53.8588 21.2827 52.5982 20.129 51.0596 20.129C50.2607 20.129 49.4782 20.4536 48.8492 21.0826C46.7243 23.2075 44.0321 24.5625 41.1159 25.0028L41.1964 24.8417C41.4052 24.4215 41.5159 23.9523 41.5159 23.483V23.166C41.5159 21.4915 40.1534 20.129 38.479 20.129C37.6801 20.129 36.8976 20.4536 36.3314 21.0185C33.6807 23.668 30.1644 25.1374 26.4191 25.1613V22.6452H25.1611C23.7395 22.6452 22.4411 23.1371 21.3869 23.9359ZM26.4191 32.7097V27.6774C30.8362 27.6535 34.9853 25.9224 38.1091 22.7986C38.4123 22.4942 38.9998 22.742 38.9998 23.166V23.483C38.9998 23.5635 38.9809 23.6441 38.9444 23.717L36.9642 27.6774H38.9998C43.393 27.6774 47.5219 25.9677 50.6897 22.7986C50.9942 22.4942 51.5804 22.742 51.5804 23.166V32.7097C51.5804 39.6466 45.9368 45.2903 38.9998 45.2903C32.0628 45.2903 26.4191 39.6466 26.4191 32.7097ZM31.0312 50.4232L35.9628 55.3548H30.4689L29.5995 58.8346L27.8621 51.017L31.0312 50.4232ZM28.9353 75.4839C28.2421 75.4839 27.6772 74.9203 27.6772 74.2258V64.1613C27.6772 63.4668 28.2421 62.9032 28.9353 62.9032H32.8491C31.2124 64.5035 30.1933 66.7303 30.1933 69.1936C30.1933 71.6568 31.2124 73.8836 32.8491 75.4839H28.9353ZM38.9998 75.4839C35.5313 75.4839 32.7095 72.662 32.7095 69.1936C32.7095 65.7251 35.5313 62.9032 38.9998 62.9032C42.4683 62.9032 45.2901 65.7251 45.2901 69.1936C45.2901 72.662 42.4683 75.4839 38.9998 75.4839ZM50.3224 74.2258C50.3224 74.9203 49.7575 75.4839 49.0643 75.4839H45.1505C46.7872 73.8836 47.8062 71.6568 47.8062 69.1936C47.8062 66.7303 46.7872 64.5035 45.1505 62.9032H49.0643C49.7575 62.9032 50.3224 63.4668 50.3224 64.1613V74.2258Z" fill="#FFB400"/>
                                <path d="M38.9998 65.4194C36.9189 65.4194 35.2256 67.1128 35.2256 69.1936C35.2256 71.2745 36.9189 72.9678 38.9998 72.9678C41.0806 72.9678 42.774 71.2745 42.774 69.1936C42.774 67.1128 41.0806 65.4194 38.9998 65.4194ZM38.9998 70.4517C38.3066 70.4517 37.7417 69.8881 37.7417 69.1936C37.7417 68.4992 38.3066 67.9356 38.9998 67.9356C39.693 67.9356 40.2578 68.4992 40.2578 69.1936C40.2578 69.8881 39.693 70.4517 38.9998 70.4517Z" fill="#FFB400"/>
                            </svg>
                            <h3><%=user.title[4]%></h3>
                            <p><%=user.flower_name[0]%></p>
                        </div>
                        <div class="service-box advertising">
                            <h3><%=user.famous_words%>  </h3>
                            <p><%=user.famous_name%></p>
                            <a href="#" class="order-now">ORDER NOW</a>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="right_frame">
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <g clip-path="url(#clip0_2_6707)">Home
                            <path d="M15.5 27C8.59625 27 3 21.4037 3 14.5C3 7.59625 8.59625 2 15.5 2C22.4037 2 28 7.59625 28 14.5C28 21.4037 22.4037 27 15.5 27ZM7.16125 20.0312C7.98286 21.2605 9.06683 22.2923 10.3351 23.0523C11.6034 23.8123 13.0245 24.2816 14.4959 24.4264C15.9674 24.5712 17.4526 24.3879 18.8448 23.8897C20.2369 23.3915 21.5012 22.5908 22.5466 21.5452C23.5921 20.4997 24.3927 19.2353 24.8908 17.8432C25.3888 16.451 25.572 14.9657 25.4271 13.4943C25.2822 12.0228 24.8127 10.6018 24.0526 9.3336C23.2925 8.06538 22.2606 6.98149 21.0312 6.16C21.5702 8.08278 21.5875 10.1144 21.0814 12.0461C20.5752 13.9778 19.5639 15.7398 18.1513 17.1513C16.74 18.5637 14.9781 19.5749 13.0467 20.081C11.1152 20.5872 9.08385 20.57 7.16125 20.0312Z" fill="#2B2B2B"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2_6707">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="nav-home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="33" viewBox="0 0 65 33" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0C0.895431 0 0 0.89543 0 2V22C0 23.1046 0.89543 24 2 24H26.8039L32 33L37.1962 24H63C64.1046 24 65 23.1046 65 22V2C65 0.895431 64.1046 0 63 0H2Z" fill="#2B2B2B"/>
                        
                        <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" fill="white" font-size="15" font-family="Arial" font-weight="bold">
                            HOME
                        </text>
                    </svg>
                </div>
                
                <div class="nav-icon yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <circle cx="20" cy="20" r="20" fill="#FFB400"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" class="inner-icon">
                        <g clip-path="url(#clip0_2_6685)">
                            <path d="M15 14.9999C15 15.1989 14.921 15.3896 14.7803 15.5303C14.6397 15.6709 14.4489 15.7499 14.25 15.7499H3.75C3.55109 15.7499 3.36032 15.6709 3.21967 15.5303C3.07902 15.3896 3 15.1989 3 14.9999V8.24994H0.75L8.49525 1.20894C8.63333 1.0833 8.81331 1.01367 9 1.01367C9.18669 1.01367 9.36667 1.0833 9.50475 1.20894L17.25 8.24994H15V14.9999Z" fill="#2B2B2B"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2_6685">
                                <rect width="18" height="18" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>                
                <div class="nav-icon yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <g clip-path="url(#clip0_2_6602)">
                          <path d="M4.84125 14.25L1.5 16.875V3C1.5 2.80109 1.57902 2.61032 1.71967 2.46967C1.86032 2.32902 2.05109 2.25 2.25 2.25H15.75C15.9489 2.25 16.1397 2.32902 16.2803 2.46967C16.421 2.61032 16.5 2.80109 16.5 3V13.5C16.5 13.6989 16.421 13.8897 16.2803 14.0303C16.1397 14.171 15.9489 14.25 15.75 14.25H4.84125Z" fill="#767676"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_2_6602">
                            <rect width="18" height="18" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                </div>
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <g clip-path="url(#clip0_2_6624)">
                          <path d="M15.75 1.5C4.5 1.5 3 12 2.25 16.5H3.7485C4.248 14.0002 5.49825 12.6255 7.5 12.375C10.5 12 12.75 9.375 13.5 7.125L12.375 6.375L13.125 5.625C13.875 4.875 14.628 3.75 15.75 1.5Z" fill="#767676"/>
                          <rect x="-38" y="-44" width="100" height="100" fill="#D9D9D9"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_2_6624">
                            <rect width="18" height="18" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                      
                </div>
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <g clip-path="url(#clip0_2_6662)">
                          <path d="M12.7636 11.272L9.25 14.6259L5.73638 11.272C3.10301 11.381 1 13.4376 1 15.9759V16.3134C1 17.245 1.79185 18.0009 2.76786 18.0009H15.7321C16.7081 18.0009 17.5 17.245 17.5 16.3134V15.9759C17.5 13.4376 15.397 11.381 12.7636 11.272ZM1.50089 2.80635L1.73661 2.85909V4.91221C1.47879 5.05987 1.29464 5.31651 1.29464 5.62589C1.29464 5.9212 1.46406 6.16729 1.70346 6.31846L1.12891 8.5087C1.06629 8.75128 1.20625 9.00089 1.40882 9.00089H2.94833C3.15089 9.00089 3.29085 8.75128 3.22824 8.5087L2.65368 6.31846C2.89308 6.16729 3.0625 5.9212 3.0625 5.62589C3.0625 5.31651 2.87835 5.05987 2.62054 4.91221V3.06299L5.05134 3.62198C4.7346 4.22667 4.53571 4.90167 4.53571 5.62589C4.53571 8.11143 6.64609 10.1259 9.25 10.1259C11.8539 10.1259 13.9643 8.11143 13.9643 5.62589C13.9643 4.90167 13.7691 4.22667 13.4487 3.62198L16.9954 2.80635C17.6657 2.65166 17.6657 1.85362 16.9954 1.69893L9.98292 0.0817384C9.50413 -0.0272461 8.99955 -0.0272461 8.52076 0.0817384L1.50089 1.69541C0.834263 1.8501 0.834263 2.65166 1.50089 2.80635Z" fill="#767676"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_2_6662">
                            <rect width="18" height="18" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                </div>
                <div class="nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.75 9.75V12H10.25V9.75H15.5V15C15.5 15.1989 15.421 15.3897 15.2803 15.5303C15.1397 15.671 14.9489 15.75 14.75 15.75H1.25C1.05109 15.75 0.860322 15.671 0.71967 15.5303C0.579018 15.3897 0.5 15.1989 0.5 15V9.75H5.75ZM7.25 8.25H8.75V10.5H7.25V8.25ZM4.25 3.75V1.5C4.25 1.30109 4.32902 1.11032 4.46967 0.96967C4.61032 0.829018 4.80109 0.75 5 0.75H11C11.1989 0.75 11.3897 0.829018 11.5303 0.96967C11.671 1.11032 11.75 1.30109 11.75 1.5V3.75H14.75C14.9489 3.75 15.1397 3.82902 15.2803 3.96967C15.421 4.11032 15.5 4.30109 15.5 4.5V8.25H10.25V6.75H5.75V8.25H0.5V4.5C0.5 4.30109 0.579018 4.11032 0.71967 3.96967C0.860322 3.82902 1.05109 3.75 1.25 3.75H4.25ZM5.75 2.25V3.75H10.25V2.25H5.75Z" fill="#767676"/>
                      </svg>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>